In [2]:
text="쌀쌀씰씰씰쌀쌀씰씰" 
str1="abcd HaHa" 
num1=10

문제:  text,num1 변수의 type 출력

In [7]:
type(text)

str

In [8]:
type(num1)

int

문제:  text 변수에  '쌀'이라는 글자가 있으면 TRUE 출력

In [10]:
'쌀' in text

True

문제:  text 변수에  '씰' 이라는 글자가 몇개 있는가?

In [11]:
text.count('씰')

5

문제:  text 변수에  '씰' 이라는 글자의 첫번째 위치는?

In [12]:
text.index('씰')

2

 문제:  str1 변수의 글을 대문자로 바꾸어 출력

In [13]:
str1.upper()

'ABCD HAHA'

문제:  str1 변수의 글자를 5번 반복하여 출력

In [15]:
str1*5

'abcd HaHaabcd HaHaabcd HaHaabcd HaHaabcd HaHa'

문제:  str1 변수의 3번 인덱스 부터 끝까지 출력

In [16]:
str1[3:]

'd HaHa'

문제 : 포멧팅 기법을 사용하여 다음과 같이 출력하세요. 

""" 대한민국 코로나 확진자는 13181명, 사망자는 285명, 완치자는 11914명입니다. """

In [25]:
corona = [13181,285,11914]

In [37]:
"대한민국 코로나 확진자는 {}명, 사망자는 {}명, 완치자는 {}명입니다.".format(corona[0], corona[1], corona[2])

'대한민국 코로나 확진자는 13181명, 사망자는 285명, 완치자는 11914명입니다.'

문제:   for 문을 이용하여 구구단을 출력하세요

In [24]:
for i in range(1,10):
    print(i, ' 단')
    for j in range(1,10):
        print(i, ' X ', j, ' = ', i*j)

1  단
1  X  1  =  1
1  X  2  =  2
1  X  3  =  3
1  X  4  =  4
1  X  5  =  5
1  X  6  =  6
1  X  7  =  7
1  X  8  =  8
1  X  9  =  9
2  단
2  X  1  =  2
2  X  2  =  4
2  X  3  =  6
2  X  4  =  8
2  X  5  =  10
2  X  6  =  12
2  X  7  =  14
2  X  8  =  16
2  X  9  =  18
3  단
3  X  1  =  3
3  X  2  =  6
3  X  3  =  9
3  X  4  =  12
3  X  5  =  15
3  X  6  =  18
3  X  7  =  21
3  X  8  =  24
3  X  9  =  27
4  단
4  X  1  =  4
4  X  2  =  8
4  X  3  =  12
4  X  4  =  16
4  X  5  =  20
4  X  6  =  24
4  X  7  =  28
4  X  8  =  32
4  X  9  =  36
5  단
5  X  1  =  5
5  X  2  =  10
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25
5  X  6  =  30
5  X  7  =  35
5  X  8  =  40
5  X  9  =  45
6  단
6  X  1  =  6
6  X  2  =  12
6  X  3  =  18
6  X  4  =  24
6  X  5  =  30
6  X  6  =  36
6  X  7  =  42
6  X  8  =  48
6  X  9  =  54
7  단
7  X  1  =  7
7  X  2  =  14
7  X  3  =  21
7  X  4  =  28
7  X  5  =  35
7  X  6  =  42
7  X  7  =  49
7  X  8  =  56
7  X  9  =  63
8  단
8  X  1  =  8
8  X  2  =  16
8  X  3  =  24
8  X  4  =  32
8  X  5  =  40
8  X  6  =  48
8  X  7  =  56
8  X  8  =  64
8  X  9  =  72
9  단
9  X  1  =  9
9  X  2  =  18
9  X  3  =  27
9  X  4  =  36
9  X  5  =  45
9  X  6  =  54
9  X  7  =  63
9  X  8  =  72
9  X  9  =  81